body{

	background: url('images/5.jpg') no-repeat;
	background-size:cover;
	
	color:Purple;
	align-content: center;

}

p{
	background-color:white;
	opacity: 0.7;
	padding: 40px;
	font-weight: 20px;
	text-align: justify;
	font-style: Baskerville Old Face;
	line-height: 30px;
	font-size: 20px;

}