img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

div{
	text-align: center;
	line-height: 35px;

}

p{
	font-size: 30px;
	text-align: center;
	text-decoration-color: dark green;
}